{% extends 'base.html' %}

{% block head_css %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <style>
        hr.orc-hr {
            border: revert;
        }

        div.orc-input-filtered {
           visibility: collapse;  
        }

        div.orc-room-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        div.orc-routine-buttons {
            display: flex;
            flex-direction: horizontal;
            overflow: auto;
        }

        div.orc-button {
            width: 75px;
            margin-bottom: 10px;
            text-align: center;
        }
        div.orc-button-label {
            height: 4em;
            margin-bottom: 5px;
            display: flex;
            flex-flow: column-reverse;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="orc-room-buttons">
    {% for id in room_configs %}
        <div>{{ id }}</div>
        <div class="orc-button">
            <button class="btn btn-primary orc-runner" data-state="on" data-type="room" data-id="{{ id }}"><i class="bi bi-lightbulb-fill"></i></button>
        </div>
        <div class="orc-button">
            <button class="btn btn-primary orc-runner" data-state="off" data-type="room" data-id="{{ id }}"><i class="bi bi-lightbulb-off"></i></button>
        </div>
        <div class="orc-button">
            <button class="btn btn-primary orc-runner" data-state="follow" data-type="room" data-id="{{ id }}"><i class="bi bi-geo"></i></button>
        </div>
    {% endfor %}
    </div>
    <hr class="hr orc-hr"/>
    <div>
        <div><b>Theme</b></div>
        <div class="orc-routine-buttons">
        {% for id in theme_configs %}
            <div class="orc-button">
                <div class="orc-button-label">{{ id }}</div>
                <button class="btn btn-primary orc-runner" data-type="console" data-id="{{ id }}"><i class="bi bi-clipboard-check"></i></button>
            </div>
        {% endfor %}
        </div>
    </div>
    <hr class="hr orc-hr"/>
    <div>
        <div><b>Super Routine</b></div>
        <div class="orc-routine-buttons">
        {% for id in other_configs %}
            <div class="orc-button">
                <div class="orc-button-label">{{ id }}</div>
                <button class="btn btn-primary orc-runner" data-type="console" data-id="{{ id }}"><i class="bi bi-rocket-takeoff"></i></button>
            </div>
        {% endfor %}
        </div>
    <hr class="hr orc-hr"/>
    <div class="btn-group dropup">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Routines</button>

        <div class="dropdown-menu">
        {% for id in schedule_routines %}
            <a class="dropdown-item orc-runner" href="#" data-type="console" data-id="{{id}}">{{id}}</a>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block tail %}
    <script>
        async function run(el) {
            el.disabled = true;
            let response = null;

            try {
                response = await fetch(`/${el.dataset.type}/${el.dataset.id}?state=${el.dataset.state}`);
                if (!response.ok) {
                    console.log(response);
                    throw Error(`Response status: ${response.status}`);
                }
                return true;
            } catch (error) {
                console.error(error.message);
            } finally {
                el.disabled = false;
            }
        }
        document.querySelectorAll(".orc-runner").forEach(el => { el.addEventListener("click", e => run(e.currentTarget)); });

        const expertRoutines = ["Test", "Restore Snapshot", "Video Conference"];
        const isPowerUser = localStorage.getItem("isPowerUser");

        document.querySelectorAll(".orc-button").forEach(el => {
            let dataSelector = el.querySelector(".orc-runner");
            if(isPowerUser !== "true" && expertRoutines.includes(dataSelector.getAttribute("data-id"))) {
                el.classList.add("orc-input-filtered");
            }
        });

    </script>
{% endblock %}
