{% extends 'admin/master.html' %}

{% block head_css %}
    {{ super() }}
    <style>
        div.orc-buttons {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        div.orc-button {
            width: 100px;
            margin-bottom: 20px;
            text-align: center;
        }
        div.orc-button-label {
            height: 3em;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="orc-buttons">
    {% for id in buttons %}
        <div class="orc-button">
            <div class="orc-button-label">{{ id }}</div>
            <button class="btn btn-primary orc-runner" data-id="{{ id }}">&nbsp;</button>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block tail %}
    <script>
        async function run(el) {
            el.disabled = true;
            let response = null;

            try {
                response = await fetch(`/button/${el.dataset.id}`);
                if (!response.ok) {
                    throw Error(`Response status: ${response.status}`);
                }
                return true;
            } catch (error) {
                console.error(error.message);
            } finally {
                el.disabled = false;
            }
        }
        document.querySelectorAll(".orc-runner").forEach(el => { el.addEventListener("click", e => run(e.currentTarget)); });
    </script>
{% endblock %}
